body {
    margin:0px auto;
}
#wrapper{

    margin:0px auto;
    width:100%;
    max-width:650px;
    
}

.header{
    padding:1px 25px 25px 0px;
    background-color:#6d1303;
    color:khaki;
    text-align:center;
    font-weight:bolder ;
    font-size:15px;
    opacity:0.8;
    margin-bottom:70px;
    

}

.caption{
    
    margin:0px;
    padding:7px 7px 7px 0px;
    font-size:19px;
}

ul{
    list-style-type:none;
}


li{
    float:left;
    padding:6px;
    
} 
form{
        margin: 20px auto;
        color: steelblue;
        width: 320px;
     }
     input{
        padding: 11px;
     }

li a{
    color:khaki;
    text-decoration:none;
}

div.form{margin:0px;
      padding-right:35px;
      padding-left:20px;
      padding-top:20px;
      padding-bottom:20px;
      background:#6d1303;
      
    
}

input{
    background-color:#feeeee;
    padding:10px;
    color:steelblue;
    border-color:red;
    border-radius:5px;
}

.button{
    background-color:steelblue;
    padding:10px 100px 10px 100px;
    color:white;
    border-color:steelblue;
}


.link{
    text-decoration:none;
    text-indent:3px;
    color:steelblue;
}

p{
    text-align:center;
}

img{
    width:150px;
    
    display:inline-block ;
    margin-left:70px;
    margin-top:-70px;
    border-radius:100px;


.fname{
    text-align:center;
}
.rolln{
    text-align:center;
}

